<configuration>

    <appender name="MOCK" class="io.micronaut.oraclecloud.logging.MockAppender"/>

    <appender name="ORACLE" class="io.micronaut.oraclecloud.logging.OracleCloudAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <appender-ref ref="MOCK"/>
        <logId>test-log-id</logId>
        <blackListLoggerName>name1</blackListLoggerName>
        <blackListLoggerName>name2</blackListLoggerName>
        <queueSize>300</queueSize>
        <publishPeriod>120</publishPeriod>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="io.micronaut.oraclecloud.logging.OracleCloudJsonFormatter">
                    <objectMapper>io.micronaut.oraclecloud.logging.CustomObjectMapper</objectMapper>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ORACLE"/>
    </root>
</configuration>
